html {
    font-size: 62.5%;
    --background_fond: #CEE5D0;
    --color_font: #3c4048;
    --background_color-light: #94B49F;
}

body {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7FF;
}

a:hover {
    opacity: 0.5;
}

.container {
    width: 95%;
    margin: 3% auto;
    border-radius: 1rem;
    background-color: var(--background_color-light);
}


/* Style du HEADER */
.header {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
    text-align: center;
}

.header__image {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.coin {
    width: 8rem;
    height: 8rem;
}

.left__coin {
    border-top: 2px solid var(--background_fond);
    border-left: 2px solid var(--background_fond);
}
.right__coin {
    border-top: 2px solid var(--background_fond);
    border-right: 2px solid var(--background_fond);
}

.header__photo-profil {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 0.5rem solid gray;  
}
.header__title {
    margin-bottom: 0;
    letter-spacing: 1rem;
    font-size: 4rem;
}

.header__title,
.header__under-title {
    text-transform: uppercase;
}


.header__under-def {
    text-align: left;
    margin: 0.5rem;
}

.container__lines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .lines {
    display: inline-block;
    position: relative;
    height: 0;
    width: 50%;
    border-bottom: 2px solid var(--background_fond);
    animation: animLines 3s ease-out;
}

.header .right {
    transform-origin: right;
}

.header .left {
    transform-origin: left;
}

.circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid var(--background_fond);
    border-radius: 50%;
    margin: 0.5rem;
    opacity: 0;
    animation: animCircle 2s ease-out 1.5s forwards;
}


/* Style du middle__section */
.middle__section {
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
    margin: auto;
    column-gap: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px var(--background_fond);
    background-color: var(--background_fond);
    color: var(--color_font);
}

.container__competences {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    justify-content: center;
    align-items: flex-end;
}

.competences {
    flex: 2;
    width: calc(100%/2);
}

.interet {
    width: calc(100%/6);
}

.contact {
    width: calc(100%/6);    
}

.language {
    width: calc(100%/6);    
}

.soft-skills {
    width: calc(100%/8);    
}

.section__middle__title,
.middle__section p,
.contact a{
    text-align:left ;
}

.competences p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
}

.competences p .icone__competence {
    font-size: 5rem;
}

.item {
    text-align: left;
}

.item img {
    width: 3rem;
}

.item .img__tennis {
    width: 6rem;
}

.container__bar {
    display: inline-block;
    width: 70%;
    height: 2rem;
    border-radius: 1rem;
    background-color: black;
    overflow: hidden;
}

.progress {
    display: inline-block;
    width: 50%;
    border-radius: 1rem;
    height: 2rem;
    background-color: var(--background_color-light);
    animation: animProgressBar 2s ease-out;
    transform-origin: left;

}

.php__bar,
.js__bar {
    width: 30%;
}

.competences li:nth-child(4n) {
    content: '\f3b9';
}

.interet li {
    justify-content: flex-start;
}

.interet i {
    margin-right: 1.2rem;
}

.contact a {
    display: block;
    max-width: max-content;
    color: var(--color_font);
    text-decoration: none;
    margin-bottom: 1.2rem;
}

.contact .fa-external-link {
    color: var(--background_color-light);
    font-size: 1.5rem;
}


/* style du main__section*/
.container__item {
    display: flex;
    align-items: baseline;
    column-gap: 2rem;
}

.date {
    flex: 1;
    margin: 0;
    text-align: right;
}

.info__date {
    flex: 2;
    padding-left: 5rem;
    padding-right: 2rem;
    border-left: 1px solid grey;
    text-align: left;
}

.info__date p {
    font-size: 1.7rem;
    line-height: 2.3rem;
}

.sections {
    text-align: center;
    padding: 2rem;
}

.section__main__title {
    text-align: left;
    padding-left: 2rem;
    border-top: 3px solid grey;
    padding-top: 3rem;
}

.section__main__under-title {
    margin: 1rem 0;
    font-size: 2rem;
}


/* last__section */
.last__section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.certif__item {
    display: block;
    text-decoration: none;
    max-width: max-content;
    color: var(--background_fond);
}

.container__certif,
.container__contact {
    flex: 1;
}

/* Animations */
@keyframes animLines {
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes animProgressBar {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes animCircle {
    0% {
        opacity: .1;
    }

    15% {
        opacity: .2;
    }

    30% {
        opacity: .5;
    }

    60% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}

/* Rsponsive design */
@media screen and (max-width: 1450px) {
    .middle__section {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    .soft-skills {
        width: calc(100%/7);
    }

    .contact,
    .interet {
        width: calc(100%/5);
    }

    .competences p .icone__competence {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1150px) {  
    .middle__info {
        width: 47%;
    }

}

@media screen and (max-width: 740px) {
    .header__title {
        font-size: 3rem;
    }
    
    .header__under-def {
        font-size: 1.5rem;
    }

    .middle__section {
        justify-content: center;
    }

    .middle__info {
        width: 100%;
    }

    .info__date p {
        font-size: 1.5rem;
    }

}