html {font-size: 62.5%}

body {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

/* Style du HEADER */

.container {
    width: 70%;
    margin: auto;
    padding: 2rem;
}

.header {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    width: 90%;
    margin: auto;
    padding-bottom: 5rem;
    text-align: center;
}

.header__title {
    margin-bottom: 0;
}

.header__title__def {
    padding-bottom: 2rem;
}

.header__title,
.header__under-title {
    text-transform: uppercase;
}

.header__photo-profil {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 0.5rem solid gray;  
}

.header__under-title__def {
    text-align: center;
}

.container__lines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .lines {
    display: inline-block;
    position: relative;
    height: 0;
    width: 45%;
    border-bottom: 2px solid black;
    animation: animLines 2s ease-out;
    transform-origin: left;
}

.circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0.5rem;
    opacity: 0;
    animation: animCircle 2.5s ease-out 1.5s forwards;
}

/* Style du MAIN */

main {
    display: flex;
}

.sections {
    text-align: center;
    padding: 2rem;
}

.section__left {
    flex: 1;
}

.section__main {
    flex: 3;
}

.section__main-title:not(:first-child) {
    border-top: 3px solid grey;
    padding: 2rem;
}

.section__right {
    flex: 2;
}

.section__right ul {
    list-style: none;
}

/* Animations */

@keyframes animLines {
    0% {
        transform: scaleX(0);
        opacity: .1;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
    }
    46% {
        transform: scaleX(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes animCircle {
    0% {
        opacity: .1;
    }
    15% {opacity: .2;}
    30% {opacity: .5;}
    60% {opacity: .7;}
    100% {
        opacity: 1;
    }
}